.register-container{
    max-width:50%;
    margin:6rem auto;
    padding:1rem;
    border: 1px solid #888;
    box-shadow: 0.2rem 0.2rem 0.6rem 0.5rem #888;
}

/* .register-form{
    
} */

.register-form-title{
    font-size: 4rem;
    padding: 2rem;
    color:#008cba;
    font-weight: 600;
}

.register-form input{
    width:75%;
    height:6rem;
    margin: 1.4rem 0;
    border:none;
    border-bottom: 1px solid #888;
    font-size:1.8rem
}

.register-form input:focus{
    outline:none;
}

.register-btn{
    margin-top:4rem;
    padding-left:2rem;
    padding-right:2rem;
    font-size:1.6rem;
}


.role-info, .terms-policy-checks{
    width:75%;
    text-align: justify;
    margin:0 auto;
}

.role-info{
    display:none;
}

.role-info p::before{
    content:'*';
    color:blue;
    font-size:1.4rem;
}

.role-info p{
    font-size:1.2rem;
}

.role-div:hover .role-info{
    display:block;
}             